<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">
<img src="<%= profile_user.avatar %>" alt="<%= user.name%>" width="100" >

<% if(user.id == profile_user.id){ %>
    <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data" id="update-form">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="file" name="avatar" id="avatar-input" placeholder="Profile Picture">
        <span id="image-preview"></span>
        <button id="preview">Preview</button>
        <input type="submit" value="Update">
    </form>
<% }else{ %>
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    <form action="/friendships/toggle/?from_id=<%= user._id %>&to_id=<%= profile_user._id %>" method="POST" id="add-friend-form">
        <button type="submit"><%= isFriend %></button>
    </form>
<% } %>
<script>
    var userIdFunction = function(){
        return '<%= profile_user.id %>'
    }
</script>
<script src="<%= assetPath('js/avatar_preview.js') %>" ></script>
<script src="<%= assetPath('js/toggle_friends.js') %>" ></script>